.calendarContainer {
    position: relative;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
    padding-left: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dayText {
    font-weight: 600;
}

.divider {
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.3);
}

.monthContainer {
    position: relative;
}

.monthText {
    position: absolute;
    top: 0;
    left: -8rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.todayHighlight {
    background-color: var(--seconday-color);
    width: 100%;
    display: inline-block;
}