.actionContainer {
    border: 1px solid rgba(0, 0, 0, 0.78);
    border-radius: 4px;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    padding-bottom: 0.75rem;
    bottom: calc(100vh / 2);
    left: calc(100vw / 1.17);
    width: fit-content;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}