:root {
  --primary-color: hsl(160, 88%, 41%);
  --primary-text-color: hsl(0, 0%, 3%);
  --seconday-color: hsl(313, 100%, 72%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

input[type="text"], input[type="date"] {
  padding: 0.3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
